* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.contact-info{
  width: 40%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-info h1{
  text-align: center;
}

.contactanos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo img {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 50%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.form-control:focus {
  outline: none;
  border-color: #ff9900;
}

.valid-feedback {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #ff9900;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #e68a00;
}

@media (max-width: 768px) {
  .contactanos {
    flex-direction: column;
  }

  .logo {
    margin-right: 20px;
  }
  div.contact-info{
    width: 100%;
  }
}