.navbar {
    background-color: black;
    padding: 0%; /* Aumentar tamaño del header */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: justify;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
  }

  .navbar-brand img {
    width: 80px; /* Aumentar tamaño de la imagen */
    height: 80px;
    border-radius: 50%; /* Imagen redondeada */
    margin-right: 10px;
  }

  .navbar-nav .nav-link {
    color: white;
    margin-left: 15px;
  }

  .navbar-nav .nav-link:focus {
    color: #fcde5b; /* Color de enlace activo */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo del enlace activo */
    outline: none; /* Quitar el contorno predeterminado */
  }

  main {
    padding-top: 100px; /* Altura del encabezado, ajusta según sea necesario */
    box-sizing: border-box;
   
    width: 100%;
  }