
  .header-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .header-container h1 {
    text-align: center;
    margin: 0;
  }

/* Estilos para las pestañas*/

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #D4D4D4;
}

.wrap{
	width: 100%;
	max-width: 90%;
	margin: 30px auto;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.wrap .active{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
}

/*Animacion para el titulo*/
article h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  position: relative;
}

article h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: #333;
}


.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}

@media screen and (max-width: 700px) {
  ul.tabs {
    flex-direction: column;
    padding: 0%;
   
  }

  ul.tabs li {
    width: 100%;
    text-align: left;  
  }

  ul.tabs li a {
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 5%;
  }

  ul.tabs li a .tab-text {
    margin-left: 5px;
  }
}

/*imagenes */
.gallery {
  text-align: center;
}

.gallery-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container img {
  flex-basis: 200px;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 5px;
  border-radius: 5px;
}

/*Boton de descarga*/

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-button i {
  margin-right: 5px;
}

.download-button:hover {
  background-color: #23527c;
}

/*Lugares a visitar*/


.section {
  text-align: center;
  background-color: #fff;
}

.room-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-type {
  flex-basis: 300px;
  margin: 10px;
  text-align: center;
}

.room-type img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.room-type p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

