main {
  padding: 20px;
  text-align: center;
  margin-top: 5%;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 20px;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imagen {
  flex: 0 0 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.imagen img {
  width: 50%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.texto {
  flex: 1 1 auto;
  max-width: 400px;
}

.previsualizacion-facebook {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.mision-vision {
  background-color: gray;
  padding: 50px 0;
}

.mision-vision .contenido1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.mision-vision .contenido1 > div {
  flex: 1 1 50%;
  padding: 20px;
}

.mision-vision .contenido1 h2 {
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.mision-vision .contenido1 p {
  font-size: 18px;
  color: #ffffff;
  text-align: justify;
}


@media screen and (max-width: 768px) {
  .mision-vision .contenido1 > div {
    flex: 1 1 100%;
  }
  .imagen {
    flex: 0 0 40%;
    max-width: none;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .texto {
    flex: 1 1 50%;
    max-width: none;
  }

  .previsualizacion-facebook {
    flex: 0 0 50%;
    max-width: none;
  }
  main{
    margin-top: 15%;
  }
  .imagen img {
    width: 100%;
    border-radius: 50%;
  }
}