 /* Estilos generales */
 .socio {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .columna img {
    width: 50%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #FF4040;
  }

  /* Estilos del formulario flotante */
  .formulario-flotante {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .formulario-content {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  .formulario-content h2 {
    margin-bottom: 20px;
    color: #333;
  }

  .formulario-content label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
  }

  .formulario-content input,
  .formulario-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .formulario-content button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .formulario-content button:hover {
    background-color: #ff9900;
  }

  /* Estilos para el botón de cerrar */
  #cerrarFormulario {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }

  #cerrarFormulario:hover {
    background-color: #ff9900;
  }

  .sociedad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .sociedad p {
    margin: 0;
  }

  .animacion {
    position: relative;
    animation: handshake 2s infinite, cambiarColor 3s ease-in-out infinite;
  }

  @keyframes handshake {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  @media screen and (max-width: 600px) {
    .sociedad {
      flex-direction: column;
      text-align: center;
    }

    .animacion {
      margin: 10px 0;
    }
    .animacion i{width: 40; height: auto;}

    .grid-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
    }

    .columna {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .animacion i{
      width: 40px;
      height:auto ;
  }
  
  @keyframes cambiarColor {
    0% {
        color: #03b2f7;
      }
      50% {
        color: #08aa05;
      }
      100% {
        color: #039ef7;
      }
  }
  