* {
  margin: 0;
  padding: 0;
}

.header-content {
  margin: 0;
  text-align: center;
  color: #000;
}

.header-content img {
  max-width: 75%;
  height: auto;
  border-radius: 50%;
}


.acordion {
  padding: 20px 10%;
  max-width: 100%;
}

.titulo {
  text-align: center;
  font-size: 4vmin;
  background: black;
  color: whitesmoke;
}

@media (max-width: 768px) {

  .acordion {
    padding: 20px 40px;
    margin: 0%;
    width: 100%;
  }

  .header-content {
    margin-bottom: 10px;
  }
  

}