.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .hero-content {
    flex-basis: 50%;
    text-align: center;
    padding: 10px;
  }
  
  .hero-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 20px 0;
  }
  
  .hero-text {
    font-size: 18px;
    color: #333;
    margin-top: 20px;

  }
    
  .hero-image {
    flex-basis: 50%;
    text-align: center;
    margin-top: 30px;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
  
  @media screen and (max-width: 768px) {
    .hero {
      flex-direction: column;
      align-items: center;
    }
    
    .hero-content,
    .hero-image {
      flex-basis: 100%;
      padding: 10px;
    }
    
    .hero-image {
      margin-top: 0;
    }
  }

  /*archivo*/
  .archivo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

  .pdf-container {
    width: 80%;
    height: 80%;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .flipbook {
    width: 100%;
    height: 100%;
  }

  .flipbook iframe {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 768px) {
    .pdf-container {
      width: 90%;
      height: 70%;
    }
  }

  @media (max-width: 576px) {
    .pdf-container {
      width: 95%;
      height: 60%;
    }
  }

  /*Nota aclaratoria*/
  .nota {
    background-color: #4f4b4b;
    padding: 50px 0;
    margin-bottom: 0px;
  }

  .nota .contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .nota .imagen {
    flex: 1;
    width: 100%;
  }
  
  .nota .imagen img {
    max-width:100%;
    border-radius: 10px;
  }
  
  .nota .texto {
    flex: 1;
    margin: 0 10px;
    text-align: left;
    color: white;
  }
  
  .nota .texto p {
    font-size: 16px;
    line-height: 1.6;
  }
  

  @media (max-width: 768px) {
    .nota .contenido {
      flex-direction: column;
    }
    
    .nota .texto{
      margin: 20px 0;
    }
  }

  .parrafo{
    flex-basis: 50%;
    text-align: justify;
    padding: 10px;
  }

  pre{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    white-space: pre-wrap;
    margin: 0;
    padding: 10px;
  }